version: 2.0

jobs:
  test:
    docker:
      - image: circleci/openjdk:8-jdk-browsers
        environment:
          TERM: dumb
          CIRCLE_ARTIFACTS: "/tmp/circle_artifacts"

    steps:
      - checkout
      - run: # Run test
          name: Run test by Maven
          command: mvn test

      - run:
          name: Save test results
          command: cp -af target/site/* $CIRCLE_ARTIFACTS
      - store_test_results:
          path: ./target/surefire-reports

workflows:
  version: 2
  test:
    jobs:
      - test # for all branches

notify:
  webhooks:
    - url: http://td-beda.herokuapp.com/circleci_callback
